* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --black: #10131e;
  --light-black: #1f2833;
  --blue: rgb(102, 252, 242);
  --dark-blue: rgb(69, 162, 158);
  --gray: #c5c6c7;
}
.color-blue {
  color: var(--blue);
}
.color-black {
  color: var(--black);
}
.hide {
  display: none !important;
}
