footer {
  padding: 0 2em;
  display: flex;
  border-top: 1px solid var(--blue);
  background: var(--black);
  color: #fff;
  position: relative;
  z-index: 3;
}
.footer-section {
  padding: 2em 1em 0.5em 1em;
  width: 25%;
  list-style-type: none;
}
.footer-logo {
  width: 100px;
}
.after-footer {
  padding: 1em 0 0 0;
  color: #fff;
  text-align: center;
  background-color: var(--black);
}
.footer-section h3 {
  color: var(--dark-blue);
  margin-bottom: 0.5em;
}
.footer-section li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease color;
  display: inline-block;
}
.footer-section li a.active {
  color: var(--dark-blue);
}
.footer-section li a:hover {
  color: var(--dark-blue);
}
