header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  padding: 1em 2.5em;
  border-bottom: 1px solid var(--blue);
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 5;
  left: 0;
  right: 0;
}
.before-header {
  height: 10vh;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 8vh;
}
.menu {
  display: flex;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease all;
  display: inline-block;
  border-bottom: 2px solid transparent;
  padding: 0.3em 1em;
  margin-left: 10px;
}
.menu li:nth-child(5) a {
  display: inline-block;
  margin-left: 1em;
  padding: 0.5em 1em;
  background-color: var(--dark-blue);
  outline: none;
  border: 1px solid var(--dark-blue);
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  transition: 0.3s ease all;
}

.menu li:nth-child(5) a.active {
  border-bottom-color: var(--dark-blue);
}

.menu li:nth-child(6) a:hover {
  background-color: var(--black);
  color: var(--dark-blue);
}
.menu li a:hover,
.menu li a.active {
  color: var(--blue);
  border-bottom-color: var(--blue);
  background-color: var(--black);
}

.cart {
  color: var(--dark-blue);
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  font-size: 1.3em;
}
li.cart a {
  padding: 0;
  color: var(--dark-blue);
  border-bottom: 0;
}
li.cart a:hover {
  color: var(--blue);
}
.cart:after {
  content: " ? ";
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 0.6em;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -7px;
  left: -5px;
}

.mainBanner {
  height: 87vh;
}
.burger {
  display: none;
}
.close {
  display: none;
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -100%;
    bottom: 0;
    background: #111;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease all;
  }
  .close {
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
  }
  .burger {
    display: block;
  }
  .close i {
    color: #fff;
    font-size: 2em;
  }
  .menu.aktive {
    left: 0;
  }
  .burger i {
    color: #fff;
    font-size: 1.5em;
  }
}
