header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  padding: 1em 2em;
  border-bottom: 3px solid var(--blue);
  height: 13vh;
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
}
.before-header {
  height: 13vh;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 10vh;
}
.menu {
  display: flex;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease all;
  display: inline-block;
  border-bottom: 2px solid transparent;
  padding: 0.3em 1em;
}
.menu li:last-child a {
  display: inline-block;
  margin-left: 1em;
  padding: 0.5em 1em;
  background-color: var(--dark-blue);
  outline: none;
  border: 1px solid var(--dark-blue);
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  transition: 0.3s ease all;
}

.menu li:last-child a.active {
  color: #fff;
}

.menu li:last-child a:hover {
  background-color: var(--black);
  color: var(--dark-blue);
}
.menu li a:hover,
.menu li a.active {
  color: var(--blue);
  border-bottom-color: var(--blue);
}
.mainBanner {
  height: 87vh;
}
