*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainBanner {
  width: 100%;
  height: 86vh;
  position: relative;
}
.videoBg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(110%) brightness(50%);
}
.mainBanner__content {
  position: absolute;
  z-index: 2;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.mainBanner__content h1 {
  font-size: 3em;
}
.mainBanner__content p {
  text-align: justify;
  margin-bottom: 1.5em;
}
.mainBanner__content button {
  font-size: 1.3em;
  padding: 0.6em;
  width: 250px;
  background-color: transparent;
  color: var(--blue);
  outline: 0;
  border: 0;
  border-radius: 100px;
  transition: 0.5s ease all;
  cursor: pointer;
  border: 2px solid var(--blue);
}
.mainBanner__content button:hover {
  background-color: var(--blue);
  color: var(--black);
}
.secondSection {
  width: 100%;
}
.secondSection__title {
  text-align: center;
  margin: 1em 0;
  font-weight: 500;
  font-size: 3em;
}
.secondSection__cardWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 3em;
}
.secondSection__card {
  width: 25vw;
  height: 15vw;
  background-color: var(--black) !important;
  border-radius: 10px;
  background-size: cover !important;
  /* background-position: center !important; */
  color: #fff;
  position: relative;
}
.card__difficulty {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
.card__title {
  position: absolute;
  top: 50%;
  left: 0.5em;
  font-size: 1.2em;
}
.secondSection__card:not(:last-child) {
  margin-right: 1em;
}

/* calesthenics card */

.calisthenics-card {
  display: flex;
  background-image: linear-gradient(180deg, #000 17%, transparent 78%),
    url("https://assets.website-files.com/5e66b0b874e5ba0190038715/5f7fc66f420a84177d8a6626_BTF%20Background.png");
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: purple;
}

.calisthenics-card h1 {
  color: white;
  font-size: 3rem;
}

.calisthenics-card img {
  width: 50%;
}

.calisthenics-content {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  gap: 2rem;
  margin: 2rem;
}

.calisthenics-text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  width: 70%;
  letter-spacing: 1px;
}

.calisthenics-text button {
  font-size: 0.9rem;
  padding: 0.5rem;
  width: 30%;
  background-color: transparent;
  color: var(--blue);
  outline: 0;
  border: 0;
  border-radius: 100px;
  transition: 0.5s ease all;
  cursor: pointer;
  border: 2px solid var(--blue);
}

.calisthenics-text button:hover {
  background-color: var(--blue);
  color: var(--black);
}

/* shopNprogram.jsx */

.SNP-container {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
}

.split-content {
  position: absolute;
  background-color: green;
  top: 0;
  left: 0;
  width: 40vw;

  height: 100vh;
  background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RW10idH?ver=489b);
}

.shopping-content {
  background-color: var(--black);
  height: 100vh;
}
.program-content {
  display: flex;
  align-items: flex-end;
  background-color: white;
  height: 100vh;
}

.stick {
  position: fixed;
  background-color: blue;
  top: 0;
  left: 0;
}

.test {
  width: 100%;
  height: 1px;
  background-color: white;
}

.end-stick {
  z-index: 100;
  background-color: transparent;
  width: 100%;
  height: 10%;
}

.is-bottom {
  position: absolute;
  top: auto;
  bottom: 0;
  background-color: white;
}



/* tour.jxs */

.tour-card{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120vh;
  background-color: var(--black);
  justify-content: center;
  align-items: center;
  padding: 10rem;
  color: white;
}

.tour-main{
  display: flex;
  flex-direction: row;
  width:80%;
  transform: translateY(10vh);
}

.tour-card-card{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -10vh;
  height: 40VH;
  width: 69%;
  
  padding: 1rem;
  gap:1rem;
}

.tour-card-body{
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 3rem 0;
  gap:1rem;
  text-align: center;
  border: 1px solid var(--blue);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 20px 25px -5px, rgba(255, 255, 255, 0.04) 0px 10px 10px -5px;
}

.tour-card-body img{
  filter:hue-rotate(250deg) brightness(4);
}

.tour-img{
  position: relative;
}

.img-b5{
  position: absolute;
  top:5%;
  z-index: 1000;
  left: 10%;
  z-index: 2;
}

.img-b2{
  position: relative;
  z-index: 3;
  
}

.img-b3 {
  position: absolute;
  top:10%;
  right:15%;
  width: 25rem;
  height: 25rem;
  background-color: var(--blue);
  border-radius: 50%;
  z-index: 1;
}

.tour-content{
  display: flex;
  flex-direction: column;
  width: 35vw;
}

.tour-content h5{
font-size: 1.2rem;
}

.tour-content h3{
  font-size: 2.2rem;
}

.tour-content p{

}

.tour-content button{
  font-size: 1.3em;
  padding: 0.6em;
  width: 250px;
  background-color: transparent;
  color: var(--blue);
  outline: 0;
  border: 0;
  border-radius: 100px;
  transition: 0.5s ease all;
  cursor: pointer;
  border: 2px solid var(--blue);
  align-self: center;
}

.tour-directions{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  align-self: center;

}

.tour-directions img{
  width: 75px;
  height: 75px;
  filter:hue-rotate(250deg) brightness(4);
  
}

.tour-directions h1{
  font-size: 1rem;
  padding: 0 0.8rem;
}

.tour-direction1{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
  text-align: center;
  padding: 2rem 0;
}

.tour-direction2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
  text-align: center;
  padding: 2rem 0;
}

.tour-direction3{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
  text-align: center;
  padding: 2rem 0;
}

/* BMI.JSX */

.bmi{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
  background: linear-gradient(270.2deg, var(--blue) -15.9%, rgb(35, 9, 31) 76.7%);
  position: relative;
  color:white
}

.bmi-card{
  display: flex;
  flex-direction: column;
  gap:0.6rem;
  transform: translateX(-15vw);
  
}

.bmi button {
  font-size: 0.9rem;
  padding: 0.5rem;
  width: 20%;
  background-color: var(--black);
  color: white;
  outline: 0;
  border: 0;
  border-radius: 100px;
  transition: 0.5s ease all;
  cursor: pointer;
  border: 2px solid var(--black);
}
.bmi-form{
  display: flex;
  gap:1rem;
}

.bmi-from input{
  font-size: 0.9rem;
  padding: 0.5rem;
  width: 30%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputF{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
}

