* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.signup button,
.signup input {
  border: 0;
  width: 100%;
  height: 60px;
  background: transparent;
  font-size: 16px;
  outline: none;
}

@keyframes clouds {
  100% {
    translate: -50vw -55%;
    scale: 1 1.1;
  }
}

.clouds {
  position: fixed;
  top: 30%;
  left: 0;
  width: 3000px;
  height: 150vh;
  translate: 0% -50%;
  animation: clouds 15s infinite alternate linear;
}

.signup {
  width: 70%;
  max-width: 460px;
  padding: 4em;
  background: #111820;
}
.register-signup {
  padding: 2em 4em;
}
.signup > h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 6px;
  color: rgb(255 255 255 / 96%);
}

.signup > h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 30px;
  color: rgb(255 255 255 / 40%);
}
.register > h3 {
  margin-bottom: 2em;
}

.form {
  margin: 0;
  display: grid;
  gap: 16px;
}

.textbox {
  position: relative;
  margin-bottom: 16px;
}

.textbox span {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 0;
  font-size: 22px;
  pointer-events: none;
  color: rgb(255 255 255 / 40%);
}

.textbox input {
  padding: 0 24px 0 36px;
  border-bottom: 2px solid #2b3442;
  color: rgb(255 255 255 / 96%);
  height: 70px;
}
.register .textbox input {
  height: 60px;
}

:is(input:focus, input:valid) ~ label {
  translate: -40px -40px;
  scale: 0.875;
}

input:focus ~ label {
  color: #216ce7;
}

input:focus {
  border-color: #216ce7;
}

:is(input:focus, input:valid) ~ span {
  color: rgb(255 255 255 / 96%);
}

.textbox label {
  position: absolute;
  top: 50%;
  left: 36px;
  translate: 0 -50%;
  color: rgb(255 255 255 / 40%);
  pointer-events: none;
  transition: 0.4s;
}

.form button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 24px;
  border-radius: 6px;
  background: #216ce7;
  color: #f9f9f9;
  border: 0;
  font-weight: 600;
  transition: 0.4 ease all;
}

.submitBtn-arrow {
  position: relative;
}
.form button:hover .submitBtn-arrow {
  animation: arrowAnimation 0.5s ease alternate infinite;
}
@keyframes arrowAnimation {
  from {
    right: 5px;
  }
  to {
    right: -10px;
  }
}

.signup p {
  margin: 0 0 22px;
  color: #778395;
  display: flex;
}

.signup p > a {
  color: #216ce7;
  text-decoration: none;
}
