.main_banner_shop {
  width: 100%;
  height: 45vh;
  background-image: linear-gradient(
      315deg,
      rgba(69, 162, 158, 0.1) 0%,
      rgba(102, 252, 242, 0.7) 74%
    ),
    url(../../public/main_banner.jpeg);
  color: var(--black);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  display: flex;
  justify-content: start;
  align-items: center;
}
.main_banner_shop_content {
  padding-left: 3em;
  width: 50%;
  color: #fff;
}
.main_banner_shop_content h1 {
  line-height: 1.2;
  margin-bottom: 0.5em;
}
.main_banner_shop_content button {
  padding: 0.6em 2.5em;
  background-color: var(--black);
  color: #fff;
  border-radius: 100px;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1em;
}
.main_banner_shop_content button:hover {
  background-color: rgba(#111, #111, #111, 0.5) !important;
  color: #fff;
}
.filter_bar {
  display: flex;
  padding: 1em 3em;
  justify-content: space-between;
}
.filter_bar_left button {
  padding: 0.3em 1em;
  margin-right: 0.5em;
  border-radius: 100px;
  outline: none;
  border: 0;
  background-color: var(--black);
  color: #fff;
  cursor: pointer;
  font-weight: 300;
}
#filter {
  border-radius: 100px;
  padding: 0.3em 1em;
  background-color: var(--black);
  color: #fff;
  font-weight: 300;
  cursor: pointer;
}
.shop_items {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shop_item_wrapper > h1 {
  padding: 0 3em;
  font-size: 1em;
}
.item {
  margin: 1em;
  width: calc(25%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 7px;
  transition: 0.3s ease all;
}
.item:hover img {
  transform: scale(1.1);
}
.item_top {
  position: relative;
  overflow: hidden;
}
.item_top img {
  height: 250px;
  object-fit: scale-down;
  padding-top: 1em;
  transition: 0.3s ease all;
}
.item_top i {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.3s ease all;
  z-index: 2;
}
.item_top i:hover {
  color: var(--dark-blue);
}
.item i:active {
  transform: scale(0.9);
}
.item_bottom {
  padding: 1.5em;
  padding-top: 0.3em;
}
.item_bottom h1 {
  font-size: 1em;
  margin-bottom: 0.25em;
}
.item_bottom p {
  font-size: 0.8em;
  margin-bottom: 0.3em;
}
.price {
  float: right;
}
.item_button {
  padding: 0.5em 1em;
  border-radius: 100px;
  outline: none;
  border: 1px solid var(--black);
  background-color: white;
  color: var(--black);
  transition: 0.3s ease all;
  cursor: pointer;
  font-size: 0.8em;
}
.item_button:hover {
  background-color: var(--black);
  color: #fff;
}
.review {
  margin-bottom: 0.3em;
}
.sliderWrapper {
  position: relative;
  background: #eaeded;
  padding: 1.5em 5em;
}
.sliderWrapper .slider {
  transition: 0.6s ease all;
  position: relative;
  display: flex;
  left: 0%;
  width: 200%;
}
.overflowSlider {
  overflow: hidden;
  height: 130px;
}
.sliderWrapper .slider.slide1 {
  left: -100%;
}
.slider .sliderItem {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 1em;
  position: relative;
}
.sliderItem h4 {
  position: absolute;
  bottom: -2rem;
  font-weight: 400;
}
.sliderItem img {
  width: 50px;
}
.leftArrow img,
.rightArrow img {
  width: 30px;
  transition: 0.3s ease all;
  position: relative;
  bottom: -3px;
}
.leftArrow,
.rightArrow {
  position: absolute;
  z-index: 3;
  top: 53%;
  transform: translate(0, -50%);
  cursor: pointer;
  transition: 0.3s ease all;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.leftArrow:active img,
.rightArrow:active img {
  width: 25px;
}
.rightArrow {
  right: 1rem;
}
.leftArrow {
  left: 1rem;
}
.filter_bar_right {
  text-align: right;
  padding: 1em;
}
