*{
  box-sizing: border-box;
}


.body{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 91.7vh;
}

.card-left{
  height: 91.7vh;
  width: 50%;
  background-color: var(--light-black);
  display:flex;
  justify-content: center;
  align-items: center;
}

.diamond{
  position: absolute;
  background-color: var(--blue);
  width: 3rem;
  height: 3rem;
  z-index: 100;
  transform: rotate(45deg);
}

.card-right{
  height: 91.7vh;
  width:  50%;
  background-color: var(--blue);
}

.card-main-left{
  display: flex;
  flex-direction: column;
  height: 50%;
  width:  60%;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
  font-size: 1.25rem;
  color:var(--blue)
}
.input-info{
  width: 70%;
  height: 10%;
  padding: 1rem;
  border: none;
}
#btn-id{
  background-color: var(--blue);
  border: none;
  color:  var(--light-black);
  padding: 0;
  font: inherit;
  cursor: pointer;
  border-radius: 5rem;
}

