*{
  box-sizing: border-box;
}

a{
  color:var(--light-blue)
}

.body{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 91.7vh;
}

.card-mid{
  height: 91.7vh;
  width: 100%;
  background-color: var(--light-black);
  display:flex;
  justify-content: center;
  align-items: center;
}

.diamondI{
  position: absolute;
  background-color: var(--blue);
  width: 3rem;
  height: 3rem;
  z-index: 100;
  transform: rotate(45deg);
}

.card-right{
  height: 91.7vh;
  width:5rem;
  background-color: var(--blue);
}

.card-main-mid{
  display: flex;
  flex-direction: column;
  height: 50%;
  width:  50%;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
  font-size: 1.25rem;
  color:var(--blue)
}

.card-main-mid h1{
  font-size: 2.5rem;
}
.input-info{
  width: 70%;
  height: 10%;
  padding: 1rem;
  border: none;
}

#btn-id{
  background-color: var(--blue);
  border: none;
  color:  var(--light-black);
  padding: 0;
  font: inherit;
  cursor: pointer;
  border-radius: 5rem;
}

.card-left{
  height: 91.7vh;
  width: 5%;
  background-color: var(--black);
}
.card-right{
  height: 91.7vh;
  width: 5%;
  background-color: var(--black);
}

