/* */

.video-player{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position:fixed;
  width:100vw;
  height: 100vh;
  background-color: #0000004f;
  backdrop-filter: blur(0.5rem);
  z-index: 100;
}

.video-player video{
  border-radius: 0.5rem;
  transform: translateY(-10%);
}




.main_banner_training {
  width: 100%;
  height: 60vh;
  background-image: url(../../public/training_banner.jpg);
  color: var(--black);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  padding: 4rem;
}

/* ItemTraining.js */
.item_card_training {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 20vh;
  width: 100%;
  background-position: right;
  border-radius: 0.6rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.watched{
  border: 4px solid blue;
}

.black{
  background-color: rgba(50, 50, 93, 0.3);
  border-radius: 0.6rem;
}

.item_card_training p {
  margin-top: 0;
  margin-bottom: auto;
  align-self: flex-start;
  border: 1px solid black;
  padding: 3px 2px 2px 3px ;
  background-color: black;
  border-radius: 4px;
  font-size: 0.8rem;
}

.item_card_training h3,
.item_card_training h2 {
  margin: 0;
  align-self: flex-end;
  width: 100%;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

/* END OF ItemTraining.js */





/* Training.js */

.training_section button {
  padding: 0.8rem 3rem;
  background-color: var(--black);
  color: white;
  border-radius: 0.3rem;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1rem;
  margin:3rem;
}

.training_section h1 {
  font-size: 2.5rem;
  padding: 4rem 4rem 4rem 2rem;
}

.training_section {
  display: flex;
  align-items: center;
  height: 50%;
  width: 100%;
  flex-direction: column;
  padding-bottom: 1rem;
  background-color: white;
}

.training_section_black {
  display: flex;
  align-items: center;
  height: 50%;
  width: 100%;
  flex-direction: column;
  padding-bottom: 1rem;
  background-color: var(--black);
  color:white;
}

.training_section_black h1 {
  font-size: 2.5rem;
  padding: 4rem;
  
}
.training_section_black button {
  padding: 0.8rem 3rem;
  background-color: var(--dark-blue);
  color: white;
  border-radius: 0.3rem;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1rem;
  margin:3rem;
}
.training_section_black h6{
  font-size: 2rem;
  margin-top: 1rem;
  padding:0.5rem;
}

/* END OF Training.js */



/* ItemTrainingWrapper.js */


.video_card {
  display: grid;
  justify-content: space-around;
  gap: 1.5rem;
  width: 62%;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  
}


/*END OF ItemTrainingWrapper.js */


.black-background {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: var(--black);
  margin-top: 1rem;
}

.black-background button {
  background-color: var(--light-blue);
}


/* TrainingLibrary.js */

.video_card-training-library{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.5rem;
  width: 69%;
  padding: 1rem;
  

}

/* END OF TrainingLibrary.js */

/* ItemTrainingLibrary.js */

.item_card_training_library {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 15vh;
  width: 50%;
  background-position: right;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: white;
  padding: 0.5rem;
}


.item_card_training_library h2 {
  font-size: 1.3rem;
  width: 100%;
}



/* END OF ItemTrainingLibrary.js */


/* MembershipCard.jsx */

.savebadge{
  position: absolute;
  font-weight: bold;
  text-align: center;
  width: 130px;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  top: -14px;
  align-self: center;
  justify-self: center;
  background-color: #0C57FB;
  color: #fff;
  letter-spacing: 0.03rem;
  
  
}

.yearly{
  border:2px #0c57fb solid;
  
}



.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width:50%;
  margin: 0 auto;
  
}

.membreship_container{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  padding-top:3rem;
  
  
}

.membership_card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50vh;
  height: 35vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  background-color: white;
  position: relative;
  padding: 1rem;
  
}

.membership_card h4{
  margin:0;
  padding:0;
  font-size: 1.5rem;
}

.membership_card h5{
  font-size: 3rem;
}

.price-container{
  display: flex;
  flex-direction: row;
}

.price-container h6{
font-size: 2rem;
}

.purchase_text{
  display: flex;
  flex-flow: flex-end;
  flex-direction: column;
  width:90%;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
}

.purchase_text button{
  padding: 0.8rem 40% 0.8rem 40%;
  border-radius: 5rem;
  background-color: white;
  border: 1px solid var(--dark-blue);
  color:var(--dark-blue);
  font-size: 1rem;
}

.blue_button button{
background-color: #0C57FB;
color:white
}

